a:active {
    color: blue
}
p strong {
    color: red;
}
.font {
    font-size: 11px;
}
.destaque {
    background: rgb(255, 255, 203);
    display: inline-block;
    padding: 10px;
}
#unico {
    font-weight: bold;
}